/** Pallette #2 **/
// Variables
$color1: #C0DF74;
    $color1_inv: #EBEBEB;
    $color1_aux: #3E4649;
    $color1_dark: darken($color1, 25%);
    $color1_light: lighten($color1, 15%);
$color2: #74BEDF;
    $color2_inv: #EBEBEB;
    $color2_aux: #AFDCFF;
    $color2_dark: darken($color2, 15%);
    $color2_light: lighten($color2, 20%);
$color3: #3E4649;
    $color3_inv: #EBEBEB;
    $color3_aux: #BDC6C9;
    $color3_dark: darken($color3, 15%);
    $color3_light: lighten($color3, 45%);
$color4: #3E4649;


/** Pallette #1
// Variables
$color1: #E82F5C;
    $color1_inv: #EBEBEB;
    $color1_aux: #FAD5BE;
    $color1_dark: darken($color1, 25%);
    $color1_light: lighten($color1, 15%);
$color2: #1388B5;
    $color2_inv: #EBEBEB;
    $color2_aux: #AFDCFF;
$color3: #FAD5BE;
    $color3_inv: #EBEBEB;
    $color3_aux: #BDC6C9;
    $color3_dark: #867163;
    $color3_light: lighten($color3, 5%);
$color4: #333;
**/
