/* Pieces of content */
@import "config";

.section--year {
    opacity: 0.4;
    font-size: 1em;
    float: right;
    line-height: 1;
    margin-left: 1em;
    text-transform: lowercase;
    margin-top: 20px;

    .section--year--to {
        font-size: 0.5em;
        position: relative;
        top: -0.35em;
    }
}

.section--title {
    font-size: 1.4em;
    line-height: 1;
}

.section--meta {
    font-size: 0.8em;
    color: #666;
    margin-top: -1em;

    > ul {
        text-align: left;

        > li {
            display: inline-block;
            vertical-align: top;

            + li:before {
                content: '\00B7';
                font-size: 1em;
                font-weight: bold;
                color: #222;
                margin: 0 0.5em;
            }
        }
    }

    @media (max-width: 480px) {
        ul li {
            display: block;
            margin: 0;

            &:before {
                display: none;
            }
        }
    }
}

main {
    counter-reset: figcount;
    overflow-x: hidden;
}

.section {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 49em;
    margin-left: auto;
    margin-right: auto;

    h3 {
        margin-top: 2em;
    }
    @media (max-width: 480px) {
        h2 {
            font-size: 1.4em;    
        }
    }

    blockquote.quote p {
        max-width: none;
    }

    /* Centered title */
    &.section__centered {
        h2 {
            max-width: 22.4em;
            text-align: center;

            .section--year {
                float: none;
                display: block;
                margin: 0;

                &:before,
                &:after {
                    content: "\2692";
                    margin: 0 0.5em;
                }
            }
        }
        .section--meta {
            max-width: 50em;
            text-align: center;
            margin: 0 0 1em;

            * {
                text-align: inherit;                
            }
        }
        blockquote.quote {
            text-align: center;
        }
    }
    > .pillow {
        > p:first-of-type:first-letter {
            font-size: 3.35em;
            float: left;
            margin-top: -0.29em;
            margin-right: 0.1em;
            margin-bottom: 0;
            height: 1em;
            overflow: visible;
            font-weight: 300;
        }
        > aside {
            width: 30%;
            float: right;
            margin-right: -5%;
            margin-left: 2.5%;
            font-size: 0.8em;

            h3 {
                margin: 0 0 0.25em;
            }
        }
    }

    figure {
        margin-bottom: 2em;
        counter-increment: figcount;
        text-align: center;

        .figure--title {
            text-transform: uppercase;
            text-align: center;
            font-size: 0.8em;
            padding: 1em 0 0.5em;
            opacity: 0.5;
        }
        &.t-wide {
            img,
            video {
                margin-left: -15%;
                margin-right: -15%;
                max-width: 130%;
                outline: 1px solid #333;

                @media (max-width: 480px) {
                    width: 130%;
                }
            }
        }
        figcaption {
            text-align: center;
            color: #777;
            font-size: 0.7em;
            line-height: 1.2;
            padding: 0.25em 0 0.5em;

            &:before {
                content: "#" counter(figcount) ":";
                margin-right: 0.5em;
                color: #aaa;
            }
        }
    }
}



.list-of-mentors {
    font-size: 0;

    > li {
        font-size: 1.1rem;
        display: inline-block;
        vertical-align: top;
        width: 33.333%;
        box-sizing: border-box;
        text-align: center;
        padding-right: 1.5%;

        line-height: 1;
        margin-bottom: 2em;
        font-weight: 800;
        text-align: left;
        text-transform: uppercase;
        line-height: 1;

        span {
            font-weight: 400;
            text-transform: none;
            font-size: 1.3em;
            line-height: 1.2;
            margin-right: 0.2em;
            display: block;
        }
        &.more {
            display: block;
            margin-top: 2em;
            color: #999;
            width: auto;
        }
    }
}

.list-of {
    font-size: 0;

    li {
        display: inline-block;
        font-size: 16px;
        font-size: 1rem;
    }
}

.list-of-links {
    padding-top: 1.5em;

    a {
        padding: 1em 0;
        background: $color1_light;
        color: $color3;
        text-indent: 0;
        overflow: visible;
        width: 100%;
        height: auto;
        font-family: inherit;
        display: block;
        position: relative;
        z-index: 2;

        text-align: center;
        position: relative;
        padding-top: 4em;
        transition: background 0.3s,
                    border-color 0.3s,
                    color 0.3s;
        border: 3px solid $color1_light;


        &:hover {
            background: $color3;
            transition: none;
            color: white;
            border-color: $color3;

            &:after {
                color: rgba(255,255,255,0.5);
            }
        }
        &:active {
            background: $color1_dark;
            color: $color3_dark;
        }
        &:after {
            content: attr(data-human-href);
            font-size: 0.7em;
            color: rgba(0,0,0,0.5);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            padding: 0 0.5em;
            text-shadow: none;
        }
        .html-icon {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 3em;
            position: absolute;
            left: 0;
            top: 0.2em;
        }
    }

    a + iframe {
        position: absolute;
        left: 50%;
        top: 5px;
        margin-left: -51px;
        z-index: 1;
        transition: top .5s 5s;
    }
    a:hover + iframe {
        top: -25px;
        transition: top .5s .5s;
    }
    li {
        width: 25%;
        box-sizing: border-box;
        margin-bottom: -3px;
        position: relative;

        &:first-child {
            margin-top: 1em;

            a {
                border-radius: 0.3em 0 0 0em;
            }
        }
        &:nth-child(4) {
            a {
                border-radius: 0 0.3em 0 0;
            }
        }
        &:nth-last-child(4) {
            a {
                border-radius: 0 0 0 0.3em;
            }
        }
        &:last-child {
            a {
                border-radius: 0 0 0.3em 0;
            }
        }

    }
}


.bff {
	display: inline-block;
	white-space: nowrap;
}