body:before {
    content: 'M';
    padding: 0.2em 1em;
    font-size: 0.7em;
    font-weight: bold;
    background: rgba(255,255,255,0.8);
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}


header #sticky-header {
	padding-left: 2em;
}


.list-of-mentors  {
    li {
        width: 50%;
    }
}

.reading-modes[class] {
    li {
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 0 auto 2em;
        padding: 0;
    }
}


.actions {
	.button {
		font-size: 0.9em;
	}
	li,
	li:first-child {
		span.button--main {
			padding-right: 1em;
		}
	}
	li,
	li:last-child {
		span.button--main {
			padding-left: 1em;
		}
	}
}