/* All things related to type */
@import "config";

/* Sans serif */
body,
h1 .nickname {
    font-family: "ff-dagny-web-pro", "freightsans pro", calibri, sans-serif;
    font-weight: 400;
    font-style: normal;
}

strong {
    font-weight: 700; /* bold */
}

/* Serif / Big Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "utopia-std-headline", georgia, serif;
    font-weight: 400;
    font-style: normal;

    * {
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
    }
}
    
/* Serif / Normal Headings */
main h2,
main h3,
main h4,
main h5,
main h6,
main .section p:first-of-type:first-letter {
    font-family: "utopia-std-display", georgia, serif;
    font-weight: 700;
    font-style: normal;
}

main blockquote.quote {
    font-family: "utopia-std-display", georgia, serif;
    font-weight: 700;
    font-style: italic;
}

